<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximun-scale=1, user-scalable=no">
	<title>Facultad de Ingeniería - UNJu</title>
	<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}"
			rel="stylesheet"/>
</head>
<body>
	<header class="bg-dark text-white p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/src/main/resources/static/img/" alt="Logotipo" class="img-fluid">
                </div>
                <div class="col-md-6 text-center">
                    <h1 class="fw-bold">Facultad de Ingeniería</h1>
                    <p> holaaa</p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </header>
    <script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>